,Net_debt,Net_income,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,weekly_hosp_admissions,new_tests,total_tests,...,Sub_Industry_Specialty Chemicals,Sub_Industry_Systems Software,Sub_Industry_Technology Hardware & Storage,Sub_Industry_Tobacco,Sub_Industry_Trading Companies & Distributo,Sub_Industry_Wireless Telecommunication Ser,Debt_change_Base,Debt_change_Decrease,Debt_change_Increase,tests_units_tests performed
0,105224.000000,554.000000,71808.0,4923.0,775.0,130.0,1.41,5476.0,NaN,NaN,...,0,0,0,0,0,0,0,1,0,1
1,4092.500000,404.200000,71808.0,4923.0,775.0,130.0,1.41,5476.0,NaN,NaN,...,0,0,0,0,0,0,0,1,0,1
2,14357.000000,301.000000,71808.0,4923.0,775.0,130.0,1.41,5476.0,NaN,NaN,...,0,0,0,0,0,0,0,1,0,1
3,79805.000000,916.000000,71808.0,4923.0,775.0,130.0,1.41,5476.0,NaN,NaN,...,0,0,0,0,0,0,0,1,0,1
4,26529.000000,459.000000,71808.0,4923.0,775.0,130.0,1.41,5476.0,NaN,NaN,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,442107.951176,4562.561512,43527649.0,111344.0,699582.0,2798.0,0.88,56959.0,1926567.0,584810697.0,...,0,0,0,0,0,0,0,1,0,1
608,499969.810023,9867.451272,43527649.0,111344.0,699582.0,2798.0,0.88,56959.0,1926567.0,584810697.0,...,0,0,0,0,0,0,0,1,0,1
609,5584.365267,557.382468,43527649.0,111344.0,699582.0,2798.0,0.88,56959.0,1926567.0,584810697.0,...,0,0,0,0,0,0,0,1,0,1
610,22330.558269,3466.460829,43527649.0,111344.0,699582.0,2798.0,0.88,56959.0,1926567.0,584810697.0,...,0,0,0,0,0,0,0,1,0,1
611,7610.337092,1529.620380,43527649.0,111344.0,699582.0,2798.0,0.88,56959.0,1926567.0,584810697.0,...,0,0,0,0,0,0,0,1,0,1